{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {cowboy, "2.10.0"},
    {hackney, "1.20.1"}
]}.

{shell, [{apps, [barrel_mcp]}]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, unknown]},
    {plt_extra_apps, [cowboy, hackney]}
]}.

{profiles, [
    {test, [
        {deps, [{meck, "0.9.2"}]}
    ]}
]}.
